<div class="general-info">
  <div class="normal-padding">
    <div style="width: 100%;">
      <div class="header">{{user.name}}</div>
      <div style="display: inline-flex; margin-left: 30px; margin-bottom: 5px">
        <app-custom-tag [Enabled]="true" [text]="'Enabled'" class="custom-tag"></app-custom-tag>
        <app-custom-tag [Enabled]="false" [text]="'Lockout Disabled'" class="custom-tag"></app-custom-tag>
      </div>
      <button mat-stroked-button color="primary" class="edit-button">Edit</button>
    </div>
    <div class="personal-details-list">
      <p class="personal-details">
        <mat-icon style="padding-right: 10px" aria-hidden="false" aria-label="Example home icon">email</mat-icon>
        {{user.email}}
      </p>
      <p class="personal-details">
        <mat-icon style="padding-right: 10px" aria-hidden="false" aria-label="Example home icon">phone</mat-icon>
        {{user.phoneNumber}}
      </p>
    </div>
  </div>
  <mat-tab-group>
    <mat-tab style="width: calc(100%-30px); padding-left: 30px" class="tab-border" label="Groups">
      <app-access-card></app-access-card>
    </mat-tab>
    <mat-tab label="Claims">
      <app-permission-card></app-permission-card>
    </mat-tab>
    <mat-tab label="Applications">
      <div style="margin: auto; text-align: center"><br/>
        <img style="margin-top: 80px; opacity: 0.2; color: gray;" src="../../../assets/application-icon.png" width="250px"/>
        <p>No applications found</p>
      </div>

    </mat-tab>
  </mat-tab-group>
</div>
