
<div class="bottom-border" *ngIf="!isRouteDemo">
  <h2>Event driven vs bi-directional binding</h2>
</div>
<br/>
<!-- 1st example event based data binding-->
<mat-form-field class="example-full-width" (input)="onChange($event)">
  <mat-label>Insert a value here</mat-label>
  <input matInput placeholder="Insert Value" [value]=inputValue>
</mat-form-field>
<!--  Condition based rendering-->
<div *ngIf="!isRouteDemo">
  <p>Inserted value: </p>
  {{inputValue}}
</div>
<br/>
<br/>
<!--  Example of bidirectional data binding-->
<div *ngIf="!isRouteDemo">
  <mat-form-field class="example-full-width">
    <mat-label>Insert a value here (bidirectional binding)</mat-label>
    <input matInput placeholder="Insert Value" [(ngModel)]="bidirectionalInputValue">
  </mat-form-field>
  <!--  Condition based rendering-->
  <p>Inserted value (bidirectional binding): </p>
  {{bidirectionalInputValue}}
</div>

<button mat-raised-button *ngIf="isRouteDemo" color="secondary" [routerLink]="" (click)="clear()">Reset</button>

<button mat-raised-button *ngIf="isRouteDemo" color="primary" [disabled]="!inputValue" [routerLink]="inputValue"
        style="margin-bottom: 20px; margin-left: 15px">Go!
</button>
