.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.bottom-border {
  border-bottom: #e2e2e2 1px solid;
}

h2 {
  font-weight: 500;
  font-size: 1.2em;
}

h3{
  font-weight: 500;
  font-size: 1em;
}
